---
layout: default
title: Archive
---

<!-- Begin List Posts
================================================== -->
<section class="recent-posts">
<div class="section-title mt-2">
    <h2>{{ page.title }}</span></h2>
</div>
<div class="row listrecent">

{% for post in site.posts %}
{% if post.categories contains page.category or post.category == page.category %}
    <li>
      <span class="post-date">{{ post.date | localize: "%b %-d, %Y" }}</span>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
{% endif %}    
{% endfor %}

</div>
</section>
