---
layout: default
---
<div class="home">
  <h1 class="page-heading">البداية </h1>

  <ul class="post-list">
    {% if paginator %}
    {% for post in paginator.posts %}
    <li>
      <span class="post-meta"><span class="date">{% assign dy = post.date | date: "%a" %}{% case dy %}{% when "Mon" %}الإثنين{% when "Tue" %}الثلاثاء{% when "Wed" %}الأربعاء{% when "Thu" %}الخميس{% when "Fri" %}الجمعة{% when "Sat" %}السبت{% when "Sun" %}الأحد{% else %}{{ dy }}{% endcase %} {% assign d = post.date | date: "%-d"  %}{% case d %}{% when '1' %}{{ d }}er{% else %}{{ d }}{% endcase %} {% assign m = post.date | date: "%-m" %}{% case m %}{% when '1' %}يناير{% when '2' %}فبراير{% when '3' %}مارس{% when '4' %}أبريل{% when '5' %}مايو{% when '6' %}يونيو{% when '7' %}يوليو{% when '8' %}أغسطس{% when '9' %}سبتمبر{% when '10' %}أكتوبر{% when '11' %}نوفمبر{% when '12' %}ديسمبر{% endcase %} {{ post.date | date: '%Y' }}</span></span>
      <h2 class="post-title"><a class="post-link" href="{{ post.url | absolute_url }}">{{ post.title }}</a> </h2>
      {{ post.content | strip_html | truncatewords: 35 }}
    </li>
    {% endfor %}
    {% else %}
    {% for post in site.posts %}
    <li>
      <span class="post-meta"><span class="date">{% assign dy = post.date | date: "%a" %}{% case dy %}{% when "Mon" %}الإثنين{% when "Tue" %}الثلاثاء{% when "Wed" %}الأربعاء{% when "Thu" %}الخميس{% when "Fri" %}الجمعة{% when "Sat" %}السبت{% when "Sun" %}الأحد{% else %}{{ dy }}{% endcase %} {% assign d = post.date | date: "%-d"  %}{% case d %}{% when '1' %}{{ d }}er{% else %}{{ d }}{% endcase %} {% assign m = post.date | date: "%-m" %}{% case m %}{% when '1' %}يناير{% when '2' %}فبراير{% when '3' %}مارس{% when '4' %}أبريل{% when '5' %}مايو{% when '6' %}يونيو{% when '7' %}يوليو{% when '8' %}أغسطس{% when '9' %}سبتمبر{% when '10' %}أكتوبر{% when '11' %}نوفمبر{% when '12' %}ديسمبر{% endcase %} {{ post.date | date: '%Y' }}</span></span>
      <h2><a class="post-link" href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
      {{ post.content | strip_html | truncatewords: 35 }}
    </li>
    {% endfor %}
    {% endif %}
  </ul>

  <hr>

  <div class="pagination-nav">
    <nav aria-label="pagination">
      <ul class="pager">
        {% if paginator.next_page %}
        <li class="next"><a href="{{ paginator.next_page_path | absolute_url }}">مواضيع قديمة<span aria-hidden="true">&larr;</span></a></li>
        {% else %}
        <li class="next disabled"><a  class="">مواضيع قديمة<span aria-hidden="true">&larr;</span></a></li>
        {% endif %}

        {% if paginator.previous_page %}
        <li class="previous"><a href="{{ paginator.previous_page_path | absolute_url }}"><span aria-hidden="true">&rarr;</span>مواضيع جديدة</a></li>
        {% else %}
        <li class="previous disabled"><a href="#"><span aria-hidden="true">&rarr;</span>مواضيع جديدة</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>